th[scope="col"] {
  background-color: pink;
  color: black;
}

th,
td {
  border: 1px solid black;
  padding: 8px 10px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  letter-spacing: normal;
}
