body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  background-color: #eeeeee;
  border: 2px solid #eeeeee;
  height: auto;
  width: 60%;
}

.form-container {
  padding: 16px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid gray;
  margin: 10px 0;
  padding: 12px 20px;
  border-radius: 8px;
}

textarea {
  height: 200px;
}

.submit-button {
  background-color: #1aa367;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  margin-left: 8px;
}
