body {
  background-color: lightgoldenrodyellow;
}

h1 {
  background-color: white;
  color: black;
  margin: auto;
  margin-bottom: 16px;
  width: max-content;
  padding: 5px;
  border: 10px solid rgb(90, 46, 5);
}

.chessboard-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  width: 80%;
  height: 80%;
  border: 30px solid rgb(90, 46, 5);
}

.chessboard-square-white {
  display: grid;
  border: 1px solid rgb(90, 46, 5);
  background-color: white;
}

.chessboard-square-black {
  display: grid;
  border: 1px solid rgb(90, 46, 5);
  background-color: black;
}
