button {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: gray;
  border-color: gray;
}
